@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-gradient {
  background: linear-gradient(to right, #b42349, #690B36);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #690b36;
  border-radius: 10px;
}
