@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-gradient {
  background: linear-gradient(to right, #b42349, #690b36);
}

.red-creative {
  background-image: url("../assests/red-creative.jpg");
  background-size: contain;
}
.red-creative-2 {
  background-image: url("../assests/red-creative-2.jpg");
  background-size: contain;
}

.header-gradient {
  background: linear-gradient(to right, #6a0c3a, #93183f, #b42347, #f49db4);
}

.map-gradient {
  background: linear-gradient(to top, #6a0c3a, rgb(31 41 55));
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #690b36;
  border-radius: 10px;
}
